<script setup lang="ts">
import { ref } from 'vue';

import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt';


const tel = ref('')
const memberstore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
    memberstore.searchMember(tel.value)
    receiptStore.calReceipt()
}
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">
                <v-text-field
                    v-model="tel"
                    density="compact"
                    variant="solo"
                    label="Search templates"
                    append-inner-icon="mdi-magnify"
                    single-line
                    hide-details
                    @click:append-inner="onClick"
                    @keyup.enter="onClick">
                </v-text-field>
            </v-col>
            <v-col cols="6" class="pa-2 text-center">{{ 
                memberstore.currentMember ? memberstore.currentMember?.name: 'Not Found User' 
                }}
            </v-col>
        </v-row>
    </v-container>
</template>
<style scoped></style>