<script setup lang="ts">
import { ref } from 'vue';

import { type Product } from '@/types/Product'
import { type ReceiptItem } from '@/types/ReceiptItem'

import ProductList from '@/components/ProductList.vue';
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';

import {useReceiptStore}  from '@/stores/receipt';
import { nextTick } from 'vue';
import { provide } from 'vue';

const dialog = ref(false)
provide('receiptDialog', dialog)

const receiptStore = useReceiptStore()

const product1: Product[] = [{
    id: 1,
    name: 'Hot Latte',
    price: 55.00,
    type: 1
},
{
    id: 2,
    name: 'Hot Cocoa',
    price: 55.00,
    type: 1
},
{
    id: 3,
    name: 'Macha',
    price: 55.00,
    type: 1
},
{
    id: 4,
    name: 'Americano',
    price: 60.00,
    type: 1
},
{
    id: 5,
    name: 'Cappuccino',
    price: 65.00,
    type: 1
},
{
    id: 6,
    name: 'Chocolate',
    price: 50.00,
    type: 1
},
{
    id: 7,
    name: 'Iced Tea',
    price: 60.00,
    type: 1
},
{
    id: 8,
    name: 'Macchiato',
    price: 65.00,
    type: 1
},
{
    id: 9,
    name: 'Lemon Tea',
    price: 60.00,
    type: 1
}
]
const product2: Product[] = [{
    id: 1,
    name: 'Hot Latte',
    price: 55.00,
    type: 2
},
{
    id: 2,
    name: 'Hot Cocoa',
    price: 55.00,
    type: 2
}
]
const product3: Product[] = [{
    id: 1,
    name: 'Hot Latte',
    price: 55.00,
    type: 3
},
{
    id: 2,
    name: 'Hot Cocoa',
    price: 55.00,
    type: 3
},
{
    id: 3,
    name: 'Macha',
    price: 55.00,
    type: 3
}
]
const tab = ref(1)
const selected = (p: Product) => {
    console.log('ProductView: ' + p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if(divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    })
}
const showReceipt = function () {
    receiptStore.showReceiptDialog()
}
const divReceiptItems = ref<HTMLElement | null>(null)

</script>
<template>
   <v-container>
        <v-row>
            <v-col cols="12" md="6">
            <v-container style="padding: 0;">
                <v-row>
                    <v-col cols="12">
                        <div ref="divReceiptItems" style="height: 300; overflow: auto;">
                            <v-sheet min-width="500" max-width="615" height="300" elevation="6">
                                <ReceiptDetailTable></ReceiptDetailTable>
                            </v-sheet>
                        </div> 
                    </v-col>
                    <v-col cols="12">
                        <v-sheet min-width="500" max-width="615" height="60" elevation="6">
                            <MemberCard></MemberCard>
                        </v-sheet>
                    </v-col>

                    <v-col cols="12">
                        <v-sheet min-width="500" max-width="615" height="150" elevation="6">
                            <ReceiptCard></ReceiptCard>
                        </v-sheet>
                    </v-col>
                    <v-col cols="12">
                        <v-sheet min-width="500" max-width="615" height="80" elevation="6">
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6">
                                        <v-btn block rounded="xl" size="large">Cancle</v-btn>
                                    </v-col>
                                    <v-col cols="12" sm="6">
                                        <v-btn block rounded="xl" color="primary" size="large" @click="showReceipt">Payment</v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-sheet>
                    </v-col>
                </v-row>
            </v-container>
            </v-col>
            <v-col cols="12" md="6">
                <v-sheet min-width="500" max-width="615" height="630" elevation="6">
                    <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                        <v-tab :value="1">Coffee</v-tab>
                        <v-tab :value="2">beverage</v-tab>
                        <v-tab :value="3">dessert</v-tab>
                    </v-tabs>
                        <v-window v-model="tab">
                            <v-window-item
                               :value="1">
                                <ProductList :products="product1" @selected-product="selected"></ProductList>
                            </v-window-item>

                            <v-window-item
                               :value="2">
                                <ProductList :products="product2" @selected-product="selected"></ProductList>
                            </v-window-item>

                            <v-window-item
                               :value="3">
                                <ProductList :products="product3" @selected-product="selected"></ProductList>
                            </v-window-item>
                        </v-window>
                </v-sheet>
            </v-col>
        </v-row>
   </v-container>
   <ReceiptDialog></ReceiptDialog>
</template>
<style scoped>
</style>