<script setup lang="ts">
import type { Product } from '@/types/Product';

const props = defineProps<{
    product: Product
}>()
const emit = defineEmits <{
    selectedProduct: [Product] // selectedProduct(Product p)
}>()
const selected = function() {
    console.log('ProductCard: ' + props.product)
    emit('selectedProduct',props.product)
}
</script>
<template>
   <v-sheet width="150" height="150" elevation="3" @click="selected">
    <v-img :src="`./img/coffee/product${product.id}.png`" height="100" cover></v-img>
    <div style="text-align: center; font-size: 16px;">{{ product.name }} {{ product.price }} Bath.</div>
    </v-sheet>
</template>
<style scoped></style>